.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.main>h1 {
    font-weight: 900;
    padding: 15px;
}

.display {
    position: relative;
    padding: 15px;
}

.progress {
    background: #ffffff;
    height: 230px;
    width: 230px;
    border-width: 4px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px #a1a1a1;
    cursor: pointer;
    position: relative;
}

.progress>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress h6 {
    font-size: 15px;
    font-weight: 700;
}

.progress p {
    font-size: 70px;
    color: #9742F5;
}

.progress img {
    width: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    display: none;
    z-index: 3;
}

.one {
    height: 150px;
    width: 150px;
    background: #ffffff;
    background-image: url("../images/Cafe_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 2px solid #E1E1E1;
    position: absolute;
    top: 0%;
    transform: translateX(-300px) translateY(70px) rotate(-13deg);
    /* z-index: -1; */
    cursor: pointer;
}

.two {
    height: 150px;
    width: 150px;
    background: #ffffff;
    background-image: url("../images/Hiking_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 2px solid #E1E1E1;
    position: absolute;
    top: 0%;
    transform: translateX(-150px) translateY(50px) rotate(10deg);
    /* z-index: -1; */
}

.three {
    height: 150px;
    width: 150px;
    background: #ffffff;
    background-image: url("../images/Beach_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 2px solid #E1E1E1;
    position: absolute;
    top: 0%;
    transform: translateX(230px) translateY(50px) rotate(10deg);
    /* z-index: -1; */
}

.four {
    height: 150px;
    width: 150px;
    background: #ffffff;
    background-image: url("../images/Foodtruck_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 2px solid #E1E1E1;
    position: absolute;
    top: 0%;
    transform: translateX(380px) translateY(60px) rotate(-10deg);
    /* z-index: -2; */
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
    z-index: 3;
    cursor: pointer;
    border-color: #a1a1a1;
    box-shadow: 2px 2px 10px #a1a1a1;
}

h2 {
    text-align: center;
    width: 450px;
    font-size: 18px;
}

.places {
    display: none;
    flex-direction: column;
}

.places input {
    width: 240px;
    margin-bottom: 10px;
    border: 0px transparent;
    border-bottom: 1px solid #636363;
}

.places input:focus {
    outline: none;
    border: 0px transparent;
    border-bottom: 2px solid #9742F5;
}

.places p {
    font-size: 10px;
    color: red;
    display: none;
}

button {
    background-color: #9742F5;
    color: #ffffff;
    border-radius: 20px !important;
    padding: 5px 30px !important;
    width: 200px;
}

button:hover {
    background-color: rgb(119, 40, 209);
    box-shadow: 0px 2px #858585;
}

button:focus {
    outline: none;
}

.cancel {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#currentimage {
    display: none;
}

#largeImage {
    height: auto;
    width: 100%;
}