body {
    font-family: 'Roboto', sans-serif;
    color: #474747;
    height: 100vh;
    background: url("../images/gradient_element_design.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 50%;
}

.main {
    min-height: 80%;
    padding-top: 100px;
}

.left {
    text-align: center;
}

.right {
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.logo img {
    width: 30%;
}

.tic h1 {
    font-size: 100px;
}

h1 {
    font-weight: 900;
    margin: 0;
}

.win {
    font-size: 40px;
    
}

.win h1 {
    font-size: 40px;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 10px;
}

.display {
    width: 230px;
    height: 230px;
    background-image: url("../images/display.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    position: relative;
    /* left: 80px; */
}

.display h1 {
    width: 200px;
    font-size: 15px;
    background: #ffffff;
    padding: 20px 0px 0 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    border-top-left-radius: 20px;
}

.amount {
    font-size: 80px;
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
}

.login {
    padding: 10px 0px;
}

button {
    background-color: #9742F5;
    color: #ffffff;
    width: 400px;
    border-radius: 20px !important;
    float: right;
    padding: 5px 30px !important;
}

button:hover {
    background-color: rgb(119, 40, 209);
    box-shadow: 0px 2px #858585;
}

.facebook {
    float: left;
}

.arrow {
    float: right;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 80px;
    width: 100%;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer p {
    float: right;
}

.terms {
    color: #9742F5;
}

